body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: red;
}

.VLC-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    overflow: hidden;
    background-color: #C7CFCF;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 12px;
}

.nav a:hover {
    background-color: #6B6B6B;
}

.drop-zone {
    text-align: center;
    background-color: black;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 72px;
    z-index: 1;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone-input {
    display: none;
}

.drop-zone-thumb {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-origin: content-box;
    background-clip: content-box;
    position: relative;
}

.drop-zone-thumb::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: black;
    font-size: 14px;
    text-align: center;
}

.vlc-icon {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-bar {
    z-index: 2;
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
}

.control-bar,
.progress-bar {
    z-index: 3;
    display: block;
    position: relative;
    background-color: #C7CFCF;
}

.progress-bar {
    height: 16%;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
}

.progress-barz {
    bottom: 0px;
    z-index: 4;
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 90%;
    margin-top: 1px;
    margin-left: 5%;
    height: 10px;
    background-color: #8F8F8F;
}

.barz-inner {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: #6B6B6B;
}

.control-bar {
    border-top: 1px solid #8F8F8F;
    height: 85%;
    position: relative;
    padding-top: 7px;
}

.time-one::before,
.time-two::before {
    font-weight: bolder;
    position: relative;
}

.time-one,
.time-two {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.time-one {
    padding-left: 2%;
    float: left;
}

.time-two {
    padding-right: 2%;
    float: right;
}

button {
    outline: none;
}

.btn-play,
.btn-pause,
.btn-skip-backward,
.btn-stop,
.btn-skip-forward,
.btn-fullscreen,
.btn-eq,
.btn-playlist,
.btn-repeat,
.btn-shuffle {
    font-size: 25px;
    display: inline-block;
    position: relative;
    background-color: #8F8F8F;
    margin-bottom: 2px;
    border-width: 1px;
    border-style: outset;
}

.btn-play {
    left: 2px;
}

.btn-skip-backward,
.btn-fullscreen,
.btn-playlist {
    left: 8px;
}

.btn-stop,
.btn-eq,
.btn-repeat {
    left: 6px;
}

.btn-skip-forward {
    left: 5px;
}

.btn-shuffle {
    left: 4px;
}

.volume-slider {
    margin-right: 5px;
    width: 200px;
    float: right;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #8F8F8F;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #6B6B6B;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #6B6B6B;
}

.drop-zone-video,
.drop-zone-audio,
.drop-zone-image {
    object-fit: contain;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}